.facultyimg {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* margin-left: 2.2rem;
    margin-top: 1.4rem;
    margin-bottom: 1rem; */
}

.ieee_faculties {
    text-align: center;
    color: var(--color-primary);
}

.core__members {
    text-align: center;
    margin-top: 2.5rem;
    color: var(--color-primary);
}

.members__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 4rem;
    gap: 2rem;
}

.member__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.member__card:hover {
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

.img {
    border-radius: 50%;
}

.faculty__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: var(--transition);
    width: 20%;
    margin: auto;
}

.faculty__card:hover {
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

@media screen and (max-width: 1024px) {
    .faculty__card {
        margin: auto;
    }

    .facultyimg {
        margin-left: 0.5rem;
        width: 100px;
        height: 100px;
    }
}

/* SMALL DEVICES */
@media screen and (max-width: 800px) {
    .faculty__card {
        margin: auto;
        padding-right: 8rem;
    }

    .facultyimg {
        margin-left: 20px
    }

    .members__list {
        grid-template-columns: repeat(2, 1fr)
    }

    section {
        margin-top: 2rem;
    }
}